<ion-header>
  <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
      <ion-title>Grid</ion-title>
    </ion-buttons>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
         <ion-col size="6" style="background:#FFFF">
          <ion-card>
              <ion-card-header>
                <img src="assets/frankfurt.jpg" width="20%" height="20%">
                <ion-card-title>Franfurt</ion-card-title>
                <ion-card-subtitle>Alemania</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                  En la época actual Fráncfort es un centro económico y financiero importante en 
                  Europa (en ocasiones se le denomina inoficialmente capital económica y 
                  financiera de la Unión Europea. La ciudad aloja al Banco Central Europeo (BCE), al Deutsche Bundesbank, 
                  a la Bolsa de Fráncfort y a la Messe Frankfurt, esta última, 
                  sede de importantes exposiciones, ferias y salones internacionales, 
                  entre otras, el Salón del Automóvil de Fráncfort, el más grande de 
                  su género, o el de la Feria del libro, la más importante del mundo.
              </ion-card-content>
            </ion-card>
        
        
        </ion-col>
         <ion-col size="6">
            <ion-card>
                <ion-card-header>
                  <img src="assets/paris.jpg" width=20% height="20%">
                  <ion-card-title>Paris</ion-card-title>
                  <ion-card-subtitle>Francia</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                    La región de París es junto con la de Londres, uno de los núcleos económicos 
                    más importantes de Europa.
                    Con 607 000 millones de euros (845 000 millones de dólares), 
                    produjo más de una cuarta parte del producto interior bruto (PIB) de Francia en 2011.
                     La Défense es el principal barrio de negocios de Europa,
                      alberga la sede social de casi la mitad de las grandes empresas francesas, 
                      así como la sede de veinte de las 100 más grandes del mundo.
                </ion-card-content>
              </ion-card>
         </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
              <ion-card>
                  <ion-card-header>
                    <img src="assets/londres.jpg" width=20% height="20%">
                    <ion-card-title>Londres</ion-card-title>
                    <ion-card-subtitle>Inglaterra</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                      Londres es una ciudad global, uno de los centros neurálgicos en el 
                      ámbito de las artes, el comercio, la educación, el entretenimiento, 
                       moda, las finanzas, los medios de comunicación, la investigación, 
                       el turismo o el transporte. Es el principal centro financiero del mundo
                        y una de las áreas metropolitanas con mayor PIB.
                        ​ Londres es también una capital cultural mundial,
                         la ciudad más visitada considerando el número de visitas internacionales 
                         y tiene el mayor sistema aeroportuario del mundo según el tráfico de pasajeros.
                         ​ Asimismo, las 43 universidades de la ciudad conforman la mayor concentración
                          de centros de estudios superiores de toda Europa.
                           En el año 2012 Londres se convirtió en la única ciudad en albergar la 
                           celebración de tres Juegos Olímpicos de Verano.
                  </ion-card-content>
                </ion-card>

          </ion-col>

        </ion-row>
      </ion-grid>
</ion-content>
